{% extends 'base.html.twig' %}

{% block title %}アンケート協力謝礼受け取り{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="mt-4 p-5 bg-primary text-white rounded text-center">
            <h1 class="mb-5">アンケート協力謝礼受け取り</h1>
            {{ form_start(form) }}
                <div class="text-danger">
                    {{ form_errors(form) }}
                </div>

                    <div class="row justify-content-center mb-3 ">
                        {{ form_label(form.email) }}<br>
                        {{ form_widget(form.email, {'attr': {'class': 'w-50 text-center'}}) }}<br>
                    </div>
                    <div class="row" id="some-custom-id">
                        {{ form_row(form.submit) }}
                    </div>
            {{ form_end(form) }}
            <a class="text-white" href="{{ path('app_main_index') }}">ログイン</a>
        </div>
    </div>
{% endblock %}
