{% extends 'baseAdmin.html.twig' %}

{% block title %}アンケート協力謝礼受け取り{% endblock %}

{% block body %}
    <div class="row m-3 p-2 bg-primary text-white justify-content-center text-center">
        {{ form_start(form) }}
                <div class="text-danger">
                    {{ form_errors(form) }}
                </div>

                    <div class="row justify-content-center mb-3 ">
                        {{ form_label(form.email) }}<br>
                        {{ form_widget(form.email, {'attr': {'class': 'w-50 text-center'}}) }}<br>
                    </div>
                    <div class="row" id="some-custom-id">
                        {{ form_row(form.submit) }}
                    </div>
            {{ form_end(form) }}
        
    </div>
{% endblock %}
